<!DOCTYPE html>
<html lang="en" ng-app="WidgetApp">
<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="../../bootstrap/css/bootstrap.css" rel="stylesheet"/>-->
    <link href="../css/style.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="../js/widget-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Choose Widget</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="t.html" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <div class="">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Choose Widget
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-controller="WidgetChooserController">
    <ul class="list-group">
        <li ng-repeat="widget in widgetList" class="list-group-item">

            <div class="">
                <a class="" ng-href="{{widget.route}}">
                    {{widget.name}}
                </a>

            </div>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="../views/users/profile.html" class="navbar-link" data-toggle="tooltip" data-placement="left" title="Profile">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>