<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-click="model.redirectBack()" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <div class="">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Search Flickr
                </a>

            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="input-group">
        <input ng-model="searchText" type="text" class="form-control">
        <span class="input-group-btn">
            <a ng-click="model.searchPictures(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
         </span>
    </div>



    <div class="" style="margin-top: 20px;position: relative;left: 9px;">
        <div  ng-repeat="photo in model.photos.photo">
            <img class="img-responsive pull-left img-thumbnail" ng-click="model.onSelectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
        </div>
    </div>


    <div ng-show="model.error"
         class="alert alert-danger webdev-component-shift-down"
         role="alert">
        {{model.error}}
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link" data-toggle="tooltip" data-placement="left" title="Profile">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>