<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </div>

            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                  <span class="glyphicon glyphicon-plus">
                  </span>
                </a>
            </div>

            <div class="">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        Websites
                    </a>
                </div>
            </div>
    </div>
</nav>


<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <ul class="list-group">
    <li ng-repeat="website in model.websites" class="list-group-item">

        <div class="">
        <a class="" href="#/user/{{model.userId}}/website/{{website._id}}/page">
            {{website.name}}
        </a>

        <a class="pull-right" href="#/user/{{model.userId}}/website/{{website._id}}">
                  <span class="glyphicon glyphicon-cog">
                  </span>
        </a>
        </div>
    </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </div>
        </div>
    </div>
</nav>
