<nav class="navbar navbar-default navbar-fixed-top">
        <div class="row container-fluid">
            <div class="col-sm-4 col-xs-2">
                <div class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>

                <div class="navbar-text pull-right hidden-xs">
                    <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>

                <div class="navbar-header hidden-xs">
                    <a class="navbar-brand">Websites</a>
                </div>
            </div>
            <div class="col-sm-8 col-xs-10">
                <div class="row">
                   <div class="col-xs-8">
                        <div class="navbar-header">
                            <a class="navbar-brand no-left-padding">New Website</a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="navbar-text pull-right">
                            <a ng-click="model.createWebsite(website)" class="navbar-link">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</nav>

<div class="row container-fluid">
        <div class="col-sm-4 hidden-xs wbdv-left-pane">
                <ul class="list-group">
                    <li ng-repeat="website in model.websites"
                        class="list-group-item">

                        <div class="">
                            <a class="" href="#/user/{{model.userId}}/website/{{website._id}}/page">
                                {{website.name}}
                            </a>

                            <a class="pull-right"
                               href="#/user/{{model.userId}}/website/{{website._id}}">
                                  <span class="glyphicon glyphicon-cog">
                                  </span>
                            </a>
                        </div>
                    </li>
                </ul>
        </div>
        <div class="col-sm-8 col-xs-12 wbdv-right-pane">
            <form>
                <div ng-show="model.error" class="alert alert-danger webdev-component-shift-down" role="alert">
                    {{model.error}}
                </div>
                <label for="websiteName">Name</label>
                <input id ="websiteName"
                       type="text"
                       class="form-control"
                       placeholder="Name"
                       ng-model="website.name"/>
                <label for="webDescription">Description</label>
                <textarea id="webDescription"
                          rows="5"
                          class="form-control"
                          placeholder="Description"
                          ng-model="website.description">
                </textarea>
            </form>
        </div>

</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
      <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>