<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-2 col-sm-4">
            <div class="navbar-text pull-left">
                <a href="page-list.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-text pull-right hidden-xs">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

            <div class="navbar-header hidden-xs">
                <a class="navbar-brand">Pages</a>
            </div>
        </div>
        <div class="col-sm-8 col-xs-10">
            <div class="row">
                <div class="col-xs-8">
                    <div class="navbar-header">
                        <a class="navbar-brand no-left-padding">Edit Page</a>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="navbar-text pull-right">
                        <a href="page-list.view.client.html" class="navbar-link">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane"
         ng-controller="PageListController">
        <ul class="list-group">
            <li ng-repeat="page in pageList"
                class="list-group-item">

                <div class="">
                    <a class="" href="../../widgets/templates/widget-list.html">
                        {{page.name}}
                    </a>

                    <a class="pull-right"
                       href="page-edit.view.client.html">
                                  <span class="glyphicon glyphicon-cog">
                                  </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 col-xs-12 wbdv-right-pane">
        <form>
            <label for="pageName">Name</label>
            <input id ="pageName"
                   type="text"
                   class="form-control"
                   placeholder="Page Name"/>
            <label for="pageTitle">Title</label>
            <input id ="pageTitle"
                   type="text"
                   class="form-control"
                   placeholder="Page Title"/>
            <a class="btn btn-danger btn-block"
               href="page-list.view.client.html">
                Delete</a>
        </form>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row container-fluid">
        <div class="col-xs-12">
            <div class="navbar-text pull-right">
                <a href="../views/users/profile.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>