<div class="container">
        <h1>User Login</h1>
    <form name="loginForm">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <input type="text"
               placeholder="username"
               class="form-control"
               ng-model="user.username" required/>
        <input type="password"
               class="form-control"
               placeholder="password"
               ng-model="user.password" required/>
        <button type="submit" class="btn btn-primary btn-block"
           ng-click="loginForm.$valid && model.login(user)">Login</button>
        <a class="btn btn-success btn-block"
           href="#register">Register</a>
    </form>

</div>