<div class="row">
    <div class="col-xs-12">
        <form>
            <label for="widgetName">Name</label>
            <input id ="widgetName"
                   type="text"
                   class="form-control"
                   placeholder="Name"
            ng-model="model.widget.name"/>

            <label for="htmlText">Html Text</label>
            <textarea id="htmlText"
                      rows="5"
                      class="form-control"
                      placeholder="Html Text"
                      ng-model="model.widget.text"></textarea>

            <a class="btn btn-danger btn-block"
               ng-click="model.deleteWidget()"
               ng-show="model.widget._id">
                Delete</a>
            <a class="btn btn-success btn-block"
               ng-click="model.createNewWidget()"
               ng-show="!model.widget._id">
                Create Widget</a>
        </form>
    </div>
</div>


